*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.banner{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpeg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 130px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    height: 70%;
    position: absolute;
    text-align: center;
    background: #081b29;
}
.header{
    color: #fff;
    font-size: 3em;
}
.content .btn-box{
    height: 50px;
    margin-top: 10%;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 60px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 25px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}
.btn-box a{
    background: transparent;
    color: #00abf0;
}
.btn-box a:hover{
    color: #081b29;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}
.btn-box a:hover::before{
    width: 100%;
}